<app-header></app-header>

<div class="main-con table-padding table-responsive">
  <table class="table" *ngIf="allSection != null">
    <thead>
      <tr class="table-primary">
        <th scope="col">Menu Name</th>
        <th scope="col">Parent Menu</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let section of allSection">
        <th>{{section.ifssname}}</th>
        <th *ngIf="section.ifssparent == null"> No Parent </th>
        <th *ngIf="section.ifssparent != null"> 
          <span *ngFor="let section2 of allSection">
            <span *ngIf="section2.ifssid == section.ifssparent">
              {{section2.ifssname}}
            </span>
          </span> 
        </th>
        <td><button type="button" class="btn btn-danger" (click)="deleteValue(section.ifssid)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav class="bottom navbar sticky-bottom bg-body-tertiary">
  <div class="container-fluid">

    <div class="row">
      <div class="col-auto">
        <a href="Admin/AddMenu">
          <button type="button" class="btn btn-outline-secondary">Add Menu</button>
        </a>
      </div>
    </div>

  </div>
</nav>