
/ilfl.API/.vs
/ilfl.API/ilfl.API/bin
/ilfl.API/ilfl.API/obj
/ilfl.API/ilfl.Models/obj
/ilfl.API/ilfl.Models/bin
/ilfl.API/ilfl.Repositories/obj
/ilfl.API/ilfl.Repositories/bin
/ilfl.API/ilfl.Services/obj
/ilfl.API/ilfl.Services/bin
/ilfl.Web/.vscode
