<body class="sohel">
    <!-- <div id="cursor"></div>
    <div id="cursor-border"></div> -->
    <!--<div class="loader" id="loader">
        <div class="circle_loader"></div>
    </div>-->

    <app-header></app-header>

    <!-- <main> -->
    <div id="main_banner" class="main_banner index_banner common_banner position-relative overflow-hidden  ">
        <div class="banner_box  h-100">
            <div class="container h-100">
                <div class="row h-100">
                    <!-- <div class="col-12 d-flex flex-column justify-content-center">
                    <div class="h2 mb-0 font_exo2_extrabold text-white banner_head_text">
                        Lorem ipsum dolor sit amet, <br class="d-none d-md-block">
                        <span class="px-1 pb-1">consectetur</span> adipiscing elit,
                    </div>
                    <p class="text-white my-4 h5 work_sans_regular">Lorem ipsum dolor sit amet consectetur
                        <br>adipisicing elit. Eius, nesciunt.
                    </p>
                    <div class="mt-3"><a href="#" class="cust_btn_yellow_border ">Know More <i
                                class="fa-solid fa-arrow-right-long"></i></a></div>
                </div> -->
                </div>
            </div>

        </div>

    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h3 theme_pink_txt sec_head font_exo2_extrabold mb-3">INOXGFL GROUP</div>
                    <p class="mb-0">INOXGFL Group is an Indian conglomerate with a legacy of more than 90 years. The
                        group is a
                        forerunner in diversified business segments comprising Fluoropolymers, Specialty Chemicals,
                        Wind Energy, and Renewables.
                        With a strong workforce and a distribution network spread across the globe, each INOXGFL
                        Group company is characterized by the growth DNA of the Group that can be encapsulated in
                        the following.
                    </p>
                    <ul class="mt-2">
                        <li>
                            <p class="mb-1">Early Identification of a Winning Business Area</p>
                        </li>
                        <li>
                            <p class="mb-1">Building up scale rapidly</p>
                        </li>
                        <li>
                            <p>Market leadership in the segment</p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <!--<section class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h3 theme_pink_txt sec_head font_exo2_extrabold mb-3"> INVESTORS RELATIONS</div>
            </div>
            <div class="col-sm-6 mb-3 col-md-4 d-flex">
                <a href="annual-report.html" class="cust_home_link w-100 rounded-2">Annual Report</a>
            </div>
            <div class="col-sm-6 mb-3 col-md-4 d-flex">
                <a href="audited-accounts-of-subsidiaries.html" class="cust_home_link w-100 rounded-2">Audited Accounts of Subsidiaries</a>
            </div>
            <div class="col-sm-6 mb-3 col-md-4 d-flex">
                <a href="e-voting-results.html" class="cust_home_link w-100 rounded-2">E-voting Results</a>
            </div>
            <div class="col-sm-6 mb-3 col-md-4 d-flex">
                <a href="notice-to-shareholders.html" class="cust_home_link w-100 rounded-2">Notice to shareholders</a>
            </div>
            <div class="col-sm-6 mb-3 col-md-4 d-flex">
                <a href="transfer-of-shares-to-iepf.html" class="cust_home_link w-100 rounded-2">Transfer of Shares to IEPF</a>
            </div>
            <div class="col-sm-6 mb-3 col-md-4 d-flex">
                <a href="unclaimed-dividend.html" class="cust_home_link w-100 rounded-2">Unclaimed Dividend</a>
            </div>
        </div>
    </div>
</section>-->
    <section class="pt-0 all_comapny_sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h3 violet-clr sec_head font_exo2_extrabold mb-3">Major Group Companies:</div>

                </div>
                <!--  <div class="col-md-6 d-flex mb-4 ">
                <div class="all_company_box w-100 p-3 rounded-4">
                    <img [src]="'./assets/img/inoxair-logo.png" alt="">
                    <div class="h5 my-3 theme_pink_txt sec_head font_exo2_extrabold mb-2"> Inox Air Products Pvt. Ltd.
                    </div>
                    <p class="mb-0">Amongst India's largest industrial gas companies - A 50:50 joint venture with Air
                        Products of the United States, World's largest industrial Gas Players.</p>
                </div>

            </div>
           
            <div class="col-md-6 d-flex mb-4 ">
                <div class="all_company_box w-100 p-3 rounded-4">
                    <img [src]="'./assets/img/inoxcva-logo.png" alt="">
                    <div class="h5 my-3 theme_pink_txt sec_head font_exo2_extrabold mb-2">
                        Inox India Limited
                    </div>
                    <p class="mb-0"> India's largest cryogenic technology company.</p>
                </div>
            </div>-->
                <div class="col-12 d-flex mb-4 ">
                    <div class="all_company_box w-100 p-3 rounded-4">
                        <img [src]="'assets/img/gfl-logo.png'" alt="">
                        <div class="h5 my-3 theme_pink_txt sec_head font_exo2_extrabold mb-2">
                            Gujarat Fluorochemicals Limited (GFL)
                        </div>
                        <p class="mb-0"> GFL is a leading producer of Fluoropolymers, Fluorospecialities, Refrigerants
                            and Chemicals for
                            applications in varied industries. GFL derives its strength from expertise in Fluorine
                            Chemistry,
                            vertical integration from natural minerals to Fluoropolymers and strong R&D, enabling it to
                            provide
                            one of the best quality products meeting all regulatory compliances, to the clientele
                            globally.
                        </p>
                    </div>
                </div>
                <!-- <div class="col-md-6 d-flex mb-4 ">
                <div class="all_company_box w-100 p-3 rounded-4">
                    <img [src]="'./assets/img/inox-pvr.png" alt="">
                    <div class="h5 my-3 theme_pink_txt sec_head font_exo2_extrabold mb-2">
                        Inox Leisure Limited
                    </div>
                    <p class="mb-0">Amongst India's largest, fastest and most profitable multiplex chain. </p>
                </div>
            </div>-->



                <div class="col-12  d-flex mb-4  ">
                    <div class="all_company_box w-100 p-3 rounded-4">
                        <img [src]="'assets/img/inox-wind-logo.png'" alt="">
                        <div class="h5 my-3 theme_pink_txt sec_head font_exo2_extrabold mb-2">
                            Inox Wind Limited
                        </div>
                        <p class=" ">Inox Wind is a fully integrated player in the wind energy market with
                            state-of-the-art
                            manufacturing plants at Una (Himachal Pradesh) for hubs & nacelles, near Ahmedabad (Gujarat)
                            for blades and tubular towers and an integrated manufacturing unit at Barwani district in
                            Madhya
                            Pradesh.</p>
                        <p class="mb-0">
                            Inox Wind manufactures key components that ensure high quality, most advanced technology,
                            reliability and cost competitiveness. Inox WTGs are designed for low wind speed sites of
                            India, and
                            are generating around 6% – 18% more generation viz-a-viz other WTGs models available across
                            the nation.
                        </p>
                    </div>
                </div>
                <div class="col-12   d-flex mb-4  ">
                    <div class="all_company_box w-100 p-3 rounded-4">
                        <!--<img [src]="'./assets/img/inox-wind-logo.png" alt="">-->
                        <div class="h5 my-3 theme_pink_txt sec_head font_exo2_extrabold mb-2">
                            INOX WIND ENERGY LIMITED
                        </div>
                        <p class="mb-0">Inox Wind Energy Limited was incorporated on March 6, 2020 under the Companies
                            Act,
                            2013 with the objective of engaging in business of generation and sale of wind energy,
                            providing services for Erection, Procurement and Commissioning (EPC) of wind farms and
                            holding strategic business interest in Renewable Energy.
                        </p>
                    </div>
                </div>


                <div class="col-12   d-flex mb-4  ">
                    <div class="all_company_box w-100 p-3 rounded-4">
                        <img [src]="'assets/img/gfcl-logo.png'" alt="">
                        <div class="h5 my-3 theme_pink_txt sec_head font_exo2_extrabold mb-2">
                            GFCL EV Products Limited
                        </div>
                        <p class="mb-0">
                            GFCLEV is a 100% subsidiary of GFL, manufacturing intermediate materials for Lithium-ion
                            Battery.

                        </p>
                    </div>
                </div>
                <div class="col-12   d-flex mb-4  ">
                    <div class="all_company_box w-100 p-3 rounded-4">
                        <img [src]="'assets/img/inoxgreen-logo.png'" alt="">
                        <div class="h5 my-3 theme_pink_txt sec_head font_exo2_extrabold mb-2">
                            Inox Green Energy Services Limited
                        </div>
                        <p class="mb-0">
                            IGESL is India's leading wind O&M services player with more than 8 years of operating
                            history.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- </main> -->

    <footer id="footer_Box" class=" footer overflow-hidden position-relative">
        <div class="">
            <div class="container  ">
                © Inox Leasing and Finance Limited. All rights reserved.
            </div>
            <div class="x_mark_footer">
                <img [src]="'assets/img/x-marks.png'" alt="">
            </div>
        </div>

        <div class="progress-wrap cursor-pointer">
            <div class="position-relative">
                <i class="fa-solid fa-arrow-up up_down_arrow text-white"></i>
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="0 0 102 102" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M51 2.5C63.863 2.5 76.1992 7.60981 85.2947 16.7053C94.3902 25.8008 99.5 38.137 99.5 51C99.5 63.863 94.3902 76.1992 85.2947 85.2947C76.1992 94.3902 63.863 99.5 51 99.5C38.137 99.5 25.8008 94.3902 16.7053 85.2947C7.60981 76.1992 2.5 63.863 2.5 51C2.5 38.137 7.60981 25.8008 16.7053 16.7053C25.8008 7.60981 38.137 2.5 51 2.5Z"
                        style="stroke-dashoffset: 304.735px;"></path>
                </svg>
            </div>

        </div>

    </footer>



    <div class="progress-wrap cursor-pointer  ">
        <div class="position-relative">
            <i class="fa-solid fa-arrow-up up_down_arrow text-white"></i>
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="0 0 102 102" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M51 2.5C63.863 2.5 76.1992 7.60981 85.2947 16.7053C94.3902 25.8008 99.5 38.137 99.5 51C99.5 63.863 94.3902 76.1992 85.2947 85.2947C76.1992 94.3902 63.863 99.5 51 99.5C38.137 99.5 25.8008 94.3902 16.7053 85.2947C7.60981 76.1992 2.5 63.863 2.5 51C2.5 38.137 7.60981 25.8008 16.7053 16.7053C25.8008 7.60981 38.137 2.5 51 2.5Z" />
            </svg>
        </div>

    </div>


    <script [src]="'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js'"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script [src]="'assets/js/bootstrap.min.js'"></script>
    <!-- <script [src]="'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"> 
</script>-->
    <script [src]="'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js'"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- move mouse anim -->
    <!-- move mouse anim -->
    <!-- lighbox gallery -->
    <script [src]="'assets/js/lightgallery.js'"></script>
    <!-- lighbox gallery -->
    <!-- 3d hover button card -->
    <!-- <script [src]="'./assets/js/tilt.jquery.js'"></script> -->
    <!-- 3d hover button card -->
    <!-- swiper slider  -->
    <script [src]="'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js'"></script>
    <!-- swiper slider  -->
    <script [src]="'https://www.google.com/recaptcha/api.js'" async defer></script>
    <!-- <script [src]="'assets/js/aos.js'"></script> -->
    <script [src]="'assets/js/sohel.js'"></script>
    <script>
        $(document).ready(function () {
            // Find all td elements containing the text 'View' and set their width to '5rem'
            $('.view_dwnld').css('width', '5rem');
        });
    </script>
</body>