<div class="top_menu">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center w-100 d-xl-none">
      <div>
        <a class="navbar-brand  m-0" href="">
          <img [src]="'assets/img/inoxgfl-logo.png'" alt="" class="logo position-relative heaer_logo_scroll">
        </a>
        <div class="h6 mb-0 mt-2 violet-clr font_exo2_extrabold">
          INOX LEASING AND FINANCE LIMITED
        </div>
      </div>

      <button class="btn   navbar-toggler ms-sm-2" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
    </div>
    <div class=" d-none d-xl-flex align-items-center flex-wrap justify-content-between w-100 py-2 py-lg-3">
      <div>
        <a class="navbar-brand " href="">
          <img [src]="'assets/img/inoxgfl-logo.png'" alt="" class="logo position-relative">
        </a>
      </div>
      <div>
        <div class="h1 violet-clr font_exo2_extrabold">
          INOX LEASING AND FINANCE LIMITED
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-xl  py-0 ">
  <div class="w-100 ">


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header p-0 pt-4 pe-3">
        <a class="navbar-brand " href="">
          <!-- <img src="./assets/img/logo-blue.png" alt="" class="logo position-relative"> -->
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body px-0 d-xl-flex flex-column align-items-lg-end justify-content-lg-end">
        <div class="header_bg w-100">
          <div class="container">
            <ul class="navbar-nav header_ul w-100 justify-content-xl-between position-relative mr-auto mb-2 mb-xl-0">
              <li *ngFor="let value of menuValue" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle curser-pointer" href="{{value.ifsspath}}"
                  *ngIf="value.ifssparent == null">{{value.ifssname}}</a>
                <div class="dropdown-toggles   mobile_dropdown_Arrow d-xl-none" data-bs-toggle="dropdown"
                  data-bs-auto-close="outside" *ngFor="let valueSub of subMenuValue">
                  <i class="fa-solid fa-circle-arrow-down" *ngIf="value.ifssid == valueSub.ifssparent"></i>
                </div>

                <ul class="dropdown-menu shadow  fade-up mb-3">

                  <li class="" *ngFor="let valueSub of subMenuValue">
                    <a (click)="changeContent(valueSub.ifssid)" class="dropdown-item curser-pointer"
                      *ngIf="value.ifssid == valueSub.ifssparent" href="{{valueSub.ifsspath}}">{{valueSub.ifssname}}</a>
                  </li>
                </ul>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>