<header id="header" class=" position-relative header py-3 py-xl-0" data-aos="fade-in" data-aos-delay="500">
    <div class="top_menu">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center w-100 d-xl-none">
                <div>
                    <a class="navbar-brand  m-0" href="">
                        <img [src]="'assets/img/inoxgfl-logo.png'" alt=""
                            class="logo position-relative heaer_logo_scroll">
                    </a>
                    <div class="h6 mb-0 mt-2 violet-clr font_exo2_extrabold">
                        INOX LEASING &amp; FINANCE LIMITED
                    </div>
                </div>

                <button class="btn   navbar-toggler ms-sm-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="fa-solid fa-bars-staggered"></i>
                </button>
            </div>
            <div class=" d-none d-xl-flex align-items-center flex-wrap justify-content-between w-100 py-2 py-lg-3">
                <div>
                    <a class="navbar-brand " href="">
                        <img [src]="'assets/img/inoxgfl-logo.png'" alt="" class="logo position-relative">
                    </a>
                </div>
                <div>
                    <div class="h1 violet-clr font_exo2_extrabold">
                        INOX LEASING & FINANCE LIMITED
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-xl  py-0 ">
        <div class="w-100 ">


            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header p-0 pt-4 pe-3">
                    <a class="navbar-brand " href="">
                        <!-- <img src="./assets/img/logo-blue.png" alt="" class="logo position-relative"> -->
                    </a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body px-0 d-xl-flex flex-column align-items-lg-end justify-content-lg-end">
                    <div class="header_bg w-100">
                        <div class="container">


                            <!-- <div
                                class=" d-flex d-xl-none align-items-center flex-wrap justify-content-between w-100 py-2 py-lg-3">
                                <div>
                                    <a  class="navbar-brand " href="">
                                        <img src="./assets/img/inoxgfl-logo.png" alt=""
                                            class="logo position-relative">
                                    </a>
                                </div>
                                <div>
                                    <div class="h1 violet-clr font_exo2_extrabold">
                                        INOX LEASING & FINANCE LIMITED
                                    </div>
                                </div>
                            </div> -->
                            <ul
                                class="navbar-nav header_ul w-100 justify-content-xl-between position-relative mr-auto mb-2 mb-xl-0">
                                <li class="nav-item">
                                    <a class="nav-link " href="">About Group</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="About">
                                        ABOUT ILFL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="Contact-Us">
                                        CONTACT US</a>
                                </li>
                               <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="corporate-overview.html">Corporate
                                        Overview</a>
                                    <div class="dropdown-toggles   mobile_dropdown_Arrow d-xl-none"
                                        data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                                            class="fa-solid fa-circle-arrow-down"></i></div>
                                    <ul class="dropdown-menu shadow  fade-up mb-3">



                                        <li><a class="dropdown-item" href="board-of-directors.html">Board of
                                                Directors</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="corporate-social-responsibility.html">Corporate Social
                                                Responsibility
                                            </a></li>
                                        <li><a class="dropdown-item" href="resignation-of-director.html">Resignation
                                                of
                                                Director</a></li>



                                    </ul>
                                </li>-->


                                <!--<li class="nav-item">
                                    <a class="nav-link " href="form-mgt-7.html">Form MGT – 7</a>
                                </li>-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="investors-relations.html">Investors
                                        Relations</a>
                                    <div class="dropdown-toggles   mobile_dropdown_Arrow d-xl-none"
                                        data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                                            class="fa-solid fa-circle-arrow-down"></i></div>













                                    <ul class="dropdown-menu shadow  fade-up mb-3">

                                        <li class="">
                                            <a href="annual-report.html" class="dropdown-item  ">Annual
                                                Report</a>
                                        </li>
                                        <li class="">
                                            <a href="audited-accounts-of-subsidiaries.html"
                                                class="dropdown-item  ">Audited
                                                Accounts
                                                of
                                                Subsidiaries</a>
                                        </li>
                                        <li class="">
                                            <a href="e-voting-results.html" class="dropdown-item  ">E-Voting
                                                Results</a>
                                        </li>
                                        <li class="">
                                            <a href="notice-to-shareholders.html" class="dropdown-item  ">Notice to
                                                Shareholders</a>
                                        </li>
                                        <li class="">
                                            <a href="transfer-of-shares-to-iepf.html"
                                                class="dropdown-item  ">Transfer of
                                                Shares
                                                to
                                                IEPF</a>
                                        </li>
                                        <li class="">
                                            <a href="unclaimed-dividend.html" class="dropdown-item  ">Unclaimed
                                                Dividend</a>
                                        </li>
                                            <li class="">
                                  <a class="dropdown-item " href="corporate-overview.html">Corporate
                                        Overview</a>
                                </li>
                                        <li class="">
                                    <a class="dropdown-item  " href="form-mgt-7.html">Form MGT – 7</a>
                                </li>



                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>