<app-header></app-header>

<div class="spacing">
  <div class="row">
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card  text-bg-danger">
        <div class="card-body">
          <h5 class="card-title">Total Menus</h5>
          <h1 class="card-text">{{MenuCount}}</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card  text-bg-success">
        <div class="card-body">
          <h5 class="card-title">Total Contents (PDFs)</h5>
          <h1 class="card-text">{{ContentCount}}</h1>
        </div>
      </div>
    </div>
  </div>