<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img alt="Brand" src="./assets/img/x-marks.png" height="25px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Admin/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Admin/ViewContent">Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Admin/ViewMenu">Menu</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-outline-success" (click)="signOut()">Sign Out</button>
            </div>
        </div>
    </div>
</nav>

<div>
    <h1>This Page is under development.</h1>
</div>