<app-header-admin></app-header-admin>
<div class="main-con">
  <form #contentform="ngForm" [formGroup]="contentForm" (ngSubmit)="processSave()">
    <div class="row mb-1">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Menu (Page)<span class="required">*</span></label>
      <div class="col-sm-10">
        <select class="form-select form-control" id="section" name="section" formControlName="section"
          aria-label="Default select example" (change)="SetSelectedValue()">
          <option value="null" selected>Select Menu</option>
          <option *ngFor="let value of dropdownValue" value="{{value.ifssid}}">
            {{value.ifssname}}
          </option>
        </select>
      </div>
    </div>
    <div class="row mb-1">
      <label for="editor" class="col-sm-2 col-form-label">Page Content 1</label>
      <div class="col-sm-10">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [placeholder]="'Enter your content here...'" id="content1" name="content1" formControlName="content1"></ngx-editor>
      </div>
    </div>
    <div class="row mb-1">
      <label for="editor2" class="col-sm-2 col-form-label">Page Content 2</label>
      <div class="col-sm-10">
        <ngx-editor-menu [editor]="editor2" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor2" [placeholder]="'Enter your content here...'" id="content2" name="content2" formControlName="content2"></ngx-editor>
      </div>
    </div>
    <div class="row mb-1">
      <label for="editor3" class="col-sm-2 col-form-label">Page Content 3</label>
      <div class="col-sm-10">
        <ngx-editor-menu [editor]="editor3" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor3" [placeholder]="'Enter your content here...'" id="content3" name="content3" formControlName="content3"></ngx-editor>
      </div>
    </div>
    <div class="row mb-1">
      <label for="editor4" class="col-sm-2 col-form-label">Page Content 4</label>
      <div class="col-sm-10">
        <ngx-editor-menu [editor]="editor4" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor4" [placeholder]="'Enter your content here...'" id="content4" name="content4" formControlName="content4"></ngx-editor>
      </div>
    </div>
    <div class="row mb-1">
      <label for="editor5" class="col-sm-2 col-form-label">Page Content 5</label>
      <div class="col-sm-10">
        <ngx-editor-menu [editor]="editor5" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor5" [placeholder]="'Enter your content here...'" id="content5" name="content5" formControlName="content5"></ngx-editor>
      </div>
    </div>
    <div class="row mb-1">
      <label for="editor6" class="col-sm-2 col-form-label">Page Content 6</label>
      <div class="col-sm-10">
        <ngx-editor-menu [editor]="editor6" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor6" [placeholder]="'Enter your content here...'" id="content6" name="content6" formControlName="content6"></ngx-editor>
      </div>
    </div>
    <div class="row mb-1">
      <label for="editor7" class="col-sm-2 col-form-label">Page Content 7</label>
      <div class="col-sm-10">
        <ngx-editor-menu [editor]="editor7" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor7" [placeholder]="'Enter your content here...'" id="content7" name="content7" formControlName="content7"></ngx-editor>
      </div>
    </div>
    <!--<div class="row mb-1">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" name="description" formControlName="description"
          placeholder="Description">
      </div>
    </div>
     <div class="row mb-1">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Select File<span class="required">*</span></label>
      <div class="col-sm-10">
        <div class="mb-1">
          <input type="file" id="file" name="file" formControlName="file" class="form-control input-upload"
            (change)="onFileSelection($event)" placeholder="Select File">
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class=" col-4">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      <!-- <div class=" col-2">
        <button type="button" class="btn btn-secondary" (click)="backDashboard()">Cancel</button>
      </div> -->
    </div>
  </form>
</div>

{{html}}